
@{
    ViewBag.Title = "View all claims";
}
@Html.Partial("_header")
<section class="crin_claims">
    <div class="inner">
        <div class="crin_cnt_box">
            <div class="crin_header">
                <h1>Your claims</h1>
            </div>
            <div class="crin_cnt_context">

            </div>
        </div>
    </div>
</section>

